{% extends "bootstrap/base.html" %}
{% block title %}OAuth Helper - SUCCESS{% endblock %}

{% block content %}
    <h1>OAuth Client Helper</h1>
    <p>You did it, I'm so proud of you, me...well all of us!</p>

    <a class="btn btn-primary" href="/" role="button">Go Home</a>
{% endblock %}